html {
    background-color: lavenderblush;
	min-height: 300px;
	max-height: 1000px:
	min-width: 300px:
	max-width: 1000px;
	width: 70%	
	
	
	
}

body {
    font-family: "Annie Use Your Telescope", Arial, cursive;
    line-height: 1.5;
		
    }



header {
    font-family: "Annie Use Your Telescope", Verdana, sans-serif;
    font-size: 32px;
    border-top: 3px dotted black;
    border-bottom: 3px dotted black;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 25px 25px;
    text-align: center;
    
}

h1 {
	text-align: center;
	
}

h1, p {
	text-align: center;
	
}

h2 {
    text-align: center;
    line-height: 100px;
}


h3 {
    text-indent: 8px;
    line-height: 50px;
    font-style: italic;
}



a:link {
    color: dimgray;
    text-decoration: underline;
}

a:visited {
    text-decoration: underline;
}

a:hover {
    color: goldenrod;
}

a:active {
    color: goldenrod;
    text-decoration:underline;
}


/*--text-decoration can do the line through (strike through text) effect, 
the underline effect, overline effect (where a line appears above the text)--*/
