html {
    background-color: lavenderblush;
	min-height: 300px;
	max-height: 1000px:
	min-width: 300px:
	max-width: 1000px;
	padding: 50px 100px 50px 100px;
	
}

body {
    font-family: "Annie Use Your Telescope", Arial, cursive;
    line-height: 1.5;
		
    }



header {
    font-family: "Annie Use Your Telescope", Verdana, sans-serif;
    font-size: 32px;
    border-top: 3px ridge black;
    border-bottom: 3px ridge black;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 25px 25px;
    text-align: center;
    
}

img {
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 10px dotted silver;
}


h1 {
	text-align: center;
	
}

h1 p {
	text-align: center;
	
}



h2 {
    text-align: center;
    line-height: 100px;
}


h3 {
    text-indent: 8px;
    line-height: 50px;
    font-style: italic;
}

.picking {
	font-weight: bold;
}


ul {
	text-align: justify;
	width: auto;
	margin: auto;
	

a:link {
    color: dimgray;
    text-decoration: underline;
}

a:visited {
    text-decoration: underline;
}

a:hover {
    color: goldenrod;
}

a:active {
    color: goldenrod;
    text-decoration:underline;
}



/*--text-decoration can do the line through (strike through text) effect, 
the underline effect, overline effect (where a line appears above the text)--*/
